body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about_container {
    padding: 10px;
    width: 100%;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;

}

.about_title {
    font-weight: bold;
    /* Adjust the colors based on your image */
    color: #427a27;
    font-size: 2.25rem;
    line-height: 2.5rem;
    width: 100%;
    text-align: center;

}


.about-video-contianer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.about-video-contianer video {
    width: 50%;
    height: 100%;
    border-radius: 15px;
    margin-right: 20px;
}

.about_content {
    margin-top: 50px;
}

.about_content p {
    margin-bottom: 15px;
}

.adventures {
    padding: 10px;
}

.attraction_title, .adventures_title, .eco_commitment_title {
    margin-top: 90px;
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #427a27;
    font-weight: bold;
}

.adventures p {
    margin-bottom: 16px;
}

.adventures_list {
    padding: 10px;
    margin-bottom: 16px;
}

.adventures_list li {
    list-style-type: disc;
    margin-bottom: 5px;
}

.explore__link {
    padding: 12px;
    margin-top: 30px;
    background-color: white;
    color: #28b9f5;
    border-radius: 10px;
    border: 1px solid;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.book__link{
    padding: 8px;
    background-color: white;
    color: #28b9f5;
    border-radius: 10px;
    border: 1px solid;
    margin-top:30px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.explore_tag{
    color: #427a27;
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
    padding: 10px;
}

.eco_commitment_content_contaniner {
    display: flex;
    width: 100%;
}

.eco_commitment_content{
    width: 60%;
    height: auto;
}


.eco_commitment_diagram{
    width: 30%;
    height: 30%;
    height: fit-content;
}

.eco_commitment_diagram img {
    margin: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.key_features_content {
    display: grid;
    width: 80%;
    column-gap: 70px;
    row-gap: 50px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
}
.key_features{
    margin-top: 100px;
}

.card_title h4, .key_features_title  {
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    color: #427a27;
    
}

.card {
    padding: 9px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.307);
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.208);
}

.stories_why_yardy_river{
    margin-top: 30px;
    padding-top: 30px;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    column-gap: 80px;
    row-gap: 50px;
    width: 100%;
    display: grid;
}

.stories_why_yardy_river .col1{
    grid-column: span 3;

}
.stories_why_yardy_river .col2{
    grid-column: span 2;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

.blog_content {
    width: 90%;
    margin: 30px auto 30px; 
    background: #427a27;
}

.blog_content .blog_main {
    width: 100%;
    float: left;
}

.blog_content .blog_main .blog_post_title {
    margin: 20px;
    color: rgb(250, 250, 250);
}

.blog_content .blog_main .blog_post{
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: #e2c11a;
    position: relative;
}

.blog_content .blog_main .blog_post .post_image{
    width: 30%;
    height: 100%;
    float: left;
}

.blog_content .blog_main .blog_post .post_preview{
    width: 70%;
    padding: 10px;
    float: right;
    
}

.blog_btn{
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 10px;
    font-size: 20px;
}

.read_more_btn{
    padding: .5rem 1rem;
    background: #427a27;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    cursor: pointer;
    /* width: 100px; */
    /* height: 40px; */
    
}

.blog_content .blog_main .blog_post .read_more_btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

/* .blog_content .blog_main .blog_post .yardy_stories_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    padding: 10px 20px;
    background: #eee;
} */

/* #stories_modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    display: none;
} */

/* .yardy_stories_modal #stories_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    padding: 10px 20px;
    background: #eee;
} */

/* .close_btn_yardy{
    padding: .5rem 1rem;
    background: #427a27;
    color: white;
    border: 1px solid ;
    border-radius: .25rem;
}

#storiesOpen:target{
    display: block;
} */

/* .yardy_stories_modal{
    padding: 1em;
    max-width: 75ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .4);
    display: none;
} */

/* .yardyStoriesModal ::backdrop {
    background: rgb(0 0 0 / .5);
} */



/* Extra Small: Mobile Phones */
@media (max-width: 376px) {
    .about-video-contianer {
        flex-direction: column;
    }

    .about-video-contianer video {
        width: 100%;
        margin-right: 0px;
    }

    .about_content h1 {
        text-align: center;
    }

    .attraction {
        text-align: center;
    }

    .eco_commitment_content {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .eco_commitment_content {
        width: 100%;
        height: auto;
    }

    .eco_commitment_diagram {
        width: 100%;
        height: auto;
    }

    .eco_commitment_content p,.attraction p {
        text-align: left;
    }

    .key_features_content {
        row-gap:20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        width: 100%;
    }

    .stories_why_yardy_river{
        grid-template-columns: auto;
        grid-template-rows: auto;
        row-gap: 20px;
    }

    .stories_why_yardy_river .col1{
        width: 100% ;
        grid-column: span 5;
    }

    .stories_why_yardy_river .col2{
        width: 100% ;
        grid-column: span 5;
    }


}

/* Small Devices: Tablets and Larger Phones */
@media (min-width: 376px) and (max-width: 767px) {
    .about-video-contianer {
        flex-direction: column;
    }

    .about-video-contianer video {
        margin-right: 0px;
        width: 100%;
    }

    .about_content h1 {
        text-align: center;
    }

    .attraction {
        text-align: center;
    }

    .eco_commitment_content_contaniner {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .eco_commitment_content {
        width: 100%;
        height: auto;
    }

    .eco_commitment_diagram {
        width: 100%;
        height: auto;
    }

    .eco_commitment_content p,.attraction p {
        text-align: left;
    }

    .key_features_content {
        row-gap:20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        width: 100%;
    }

    .stories_why_yardy_river{
        grid-template-columns: auto;
        grid-template-rows: auto;
        row-gap: 20px;
    }

    .stories_why_yardy_river .col1{
        width: 100% ;
        grid-column: span 5;
    }

    .stories_why_yardy_river .col2{
        width: 100% ;
        grid-column: span 5;
    }

    .blog_content .blog_main .blog_post{
        height: auto;

    }
    
    .blog_content .blog_main .blog_post .post_image{
        width: 100%;
    }
    
    .blog_content .blog_main .blog_post .post_preview{
        width: 100%;
        background: #e2c11a;
    }

    .blog_content .blog_main .blog_post .read_more_btn {
        position: static;
    
    }

}







 
/* Medium Devices: Laptops and Tablets (Landscape) */
@media (min-width: 768px) and (max-width: 1023px) {
    .about-video-contianer {
        flex-direction: column;
    }

    .about-video-contianer video {
        width: 100%;
    }

    .about_content h1 {
        text-align: center;
    }
   .about_content{
    width:100%;
   }
    .attraction {
        text-align: center;
    }

    .eco_commitment_content_contaniner {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .eco_commitment_content{
        width: 100%;
        height: auto;
    }

    .eco_commitment_diagram {
        width: 100%;
        height: auto;
    }

    .eco_commitment_content p,.attraction p {
        text-align: left;
    }

    .key_features_content {
        row-gap:20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        width: 100%;
    }

    .stories_why_yardy_river{
        grid-template-columns: auto;
        grid-template-rows: auto;
        row-gap: 20px;
    }

    .stories_why_yardy_river .col1{
        width: 100% ;
        grid-column: span 5;
    }

    .stories_why_yardy_river .col2{
        width: 100% ;
        grid-column: span 5;
    }
    

}

/* Large Devices: Desktop Monitors */
@media (min-width: 1024px) and (max-width: 1439px) {
    .about-video-contianer {
        flex-direction: column;
    }
}