.stories-banner{
    background: #427a27;
    padding: 20px 20px;
    text-align: center;
    color: #fdd402;
}

.stories-banner h1{
    color: #fdd402;
}

.stories-banner h3{
    color: #fdd402;
    font-style: italic;
}

.content{
    width: 90%;
    margin: 30px auto 30px;
}

.content .main-content{
    width: 100%;
    float: left;
}

.content .main-content.single{
    background: #ebf3ef;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
}

.content .main-content.single .post-title{
    text-align: center;
    color: #427a27;
    margin-bottom: 40px;
}

.content .main-content.single .post-content p{
    padding-bottom: 20px;
}

.content .main-content.single .post-content .listspace{
    padding-left: 50px;
    
}

.return_btn{
    padding: .5rem 1rem;
    background: #427a27;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    cursor: pointer;
    position: fixed; 
    bottom: 30px;
    left: 30px;
    z-index: 9999;
}

/* Extra Small: Mobile Phones */
@media (max-width: 375px) {
    .return_btn{
        position: fixed; 
        bottom: 100px;
        left: 40px;
        z-index: 9999;
    }
}

/* Small Devices: Tablets and Larger Phones */
@media (min-width: 376px) and (max-width: 767px) {
    .return_btn{
        position: fixed; 
        bottom: 100px;
        left: 40px;
        z-index: 9999;
    }
}
